.container {
    width: 930px;
    margin: 0 auto;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

header {
    background-image: url(../img/first-bg.jpg);
    background-size: cover;
    height: 100vh;

}

.top_bar {
    padding-top: 45px;
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    justify-content: space-between;
}

li a {
    margin-left: 43px;
    font-family: Arial;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 41px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.header_text p,
h2 {
    font-family: Arial;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.header_text p {
    margin-top: 200px;
    font-size: 40px;
    font-weight: 400;
}

.header_text h2 {
    margin-top: 50px;
    font-size: 75px;
    font-weight: 700;
    margin-bottom: 60px;
}

.button {
    display: block;
    border-radius: 5px;
    background-color: #fed136;
    width: 240px;
    height: 40px;
    text-decoration: none;
    text-transform: uppercase;
    color: #484543;
    text-align: center;
    padding-top: 25px;
    margin: 0 auto;
    font-family: Arial;
    font-weight: 700;
    font-size: 18px;
}

.services_text h2 {
    margin-top: 120px;
    font-size: 40px;
    font-family: Arial;
    color: #222;
    text-transform: uppercase;
    font-weight: 700;
}

.services_text p {
    margin-top: 20px;
    font-family: Arial;
    color: #777;
    font-size: 16px;
    text-align: center;
    margin-bottom: 75px;
}

.block_services {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
}

.block {
    display: block;
    text-align: center;
    width: 260px;
}

.block h3 {
    margin-top: 25px;
    margin-bottom: 18px;
    font-family: Arial;
    color: #222222;
    font-size: 18px;
    font-weight: 700;
}

.block p {
    font-family: Arial;
    color: #777777;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.35px;
    margin-bottom: 120px;
    line-height: 1.5;
}

.blocks {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
}

.portfolio {
    background-color: #f7f7f7;
    padding-bottom: 135px;
}

.portfolio h3 {
    padding-top: 120px;
    font-family: Arial;
    color: #222222;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -1px;
    text-align: center;
    text-transform: uppercase;
}

.portfolio p {
    margin-top: 20px;
    margin-bottom: 75px;
    font-family: Arial;
    color: #777777;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.about_title {
    margin-top: 120px;
    font-family: Arial;
    color: #222222;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -1px;
    text-align: center;
    text-transform: uppercase;
}

.about_text {
    margin-top: 20px;
    margin-bottom: 80px;
    font-family: Arial;
    color: #777777;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.title {
    font-family: Arial;
    color: #222222;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.45px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.title_2 {
    font-family: Arial;
    color: #222222;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.45px;
    margin-bottom: 18px;
}

.main_text {
    font-family: Arial;
    color: #777777;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.35px;
    line-height: 1.7;
}

.about_us_block_1 {
    display: inline;
}

.img_1 {
    float: right;
    margin-right: 40.5%;
    margin-bottom: 90px;
}

.text_about_1 {
    text-align: right;
    float: left;
    width: 283px;
}

.img_2 {
    float: left;
    margin-left: 40.5%;
    margin-bottom: 93px;
}

.text_about_2 {
    text-align: left;
    float: right;
    width: 283px;
}

footer p {
    margin-top: 30px;
    margin-bottom: 110px;
    font-family: Arial;
    color: #555555;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.35px;
    line-height: 22px;
    text-align: center;
}
